@import url('https://fonts.googleapis.com/css?family=Raleway');
body {font-family: 'Raleway', sans-serif; font-weight: 100;}	


/* ===========Video home page============ */
video { 
    position: fixed;
    top: 30vh;
    left: 15vw;
/*
    min-width: 100%;
    min-height: 100%;
*/
    width: 20vw;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}



#container {
  -webkit-filter: brightness(50%) grayscale(100%);
  filter: brightness(50%) grayscale(100%);
  z-index: -1;
  
  
}

#playvid {position: fixed;
	bottom: 5vh;
	left: 5vw;
	color: gray;
}